#footer {
    display: block;
    padding-top: 3em;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    width: 100vw;
    background-color: #f2f2f2;
}


#footer > div > div > div:nth-child(2) {
    display: none;
}

#footer > div > div > div:nth-child(3) {
    display: none;
}

#footer-profile-photo {
    display: none;
}


.social-icon {
    height: 3em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#social-media {
    margin-bottom: 2em;
}
