{% load static %}

<div class="jumbotron">
  <div id="jumbotron-message">
    <h1 class="display-4"><img id="jumbotron-image" src="{% static 'images/logo-name-image.png' %}" /></h1>
    <div id="jumbotron-message-detail">
      <p class="lead">Resources for software developers worldwide</p>
      <hr class="my-4" />
      <p>
        Another high-performance website built by <span class="logo-style">md </span>
        <span class="name-style-white">Bytes</span>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Read Posts</a>
      </p>
    </div>
  </div>
</div>
