{% if user.is_authenticated %}
    <form id="logoutForm" action="/logout/" method="post" class="navbar-right">
        {% csrf_token %}
        <nav class="navbar navbar-expand-sm">
            <ul id="user-options" class="navbar-nav ml-auto">

                <li id="nav-greeting"><span class="navbar-brand">Hello {{ user.username }}!</span></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'post_new' %}">New Post</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a></li>
                <li class="nav-item"><a class="nav-link" href="admin/">Admin</a></li>

                <li id="nav-item">
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>


            </ul>
        </nav>
    </form>

{% else %}

    <ul class="nav navbar-nav navbar-right">
        <li id="login-link" class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
    </ul>

{% endif %}
